DXC.TFSM.Business/Connected Services/wsBuroCredito/ServiceBC4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://www.toyotafinanciamientotest.com.mx/wcfBuroCredito/ServiceBC.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFBuroCredito.Clases" />
  <xs:import schemaLocation="https://www.toyotafinanciamientotest.com.mx/wcfBuroCredito/ServiceBC.svc?xsd=xsd4" />
  <xs:element name="GetBCOriginacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFBuroCredito.Clases" minOccurs="0" name="consulta" nillable="true" type="q1:Consulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBCOriginacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFBuroCredito.Clases" minOccurs="0" name="GetBCOriginacionResult" nillable="true" type="q2:ResponseOriginacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaOriginacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFBuroCredito.Clases" minOccurs="0" name="consulta" nillable="true" type="q3:Consulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaOriginacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizaOriginacionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaTransUnion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFBuroCredito.Clases" minOccurs="0" name="consulta" nillable="true" type="q4:ConsultaBuroCredito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaTransUnionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultaTransUnionResult" nillable="true" type="ResponseBCPF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaDunBradstreet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFBuroCredito.Clases" minOccurs="0" name="consulta" nillable="true" type="q5:ConsultaBuroCredito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaDunBradstreetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultaDunBradstreetResult" nillable="true" type="ResponseBCPM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportePorFolioTFSM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="folioTFSM" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFBuroCredito.Clases" minOccurs="0" name="tipoResultado" type="q6:TipoResultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportePorFolioTFSMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReportePorFolioTFSMResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFBuroCredito.Clases" minOccurs="0" name="modelo" nillable="true" type="q7:SSatelitalPassword" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizaPasswordResult" nillable="true" type="SatelitalPasswordResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>